*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main_div{
  background-color: rgb(228, 224, 224);
  width: 100vw;
  height: 100vh;
  position: relative;
}
.center_div{
  background-color: #fff;
  width: 400px;
  height: 80vh;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  border-radius: 30px;
  box-shadow: 20px 20px 50px 0px rgb(155, 155, 155);
}
.center_div h1{
  background-color: rgb(212, 7, 212);
  margin-top:20px;
  padding: 10px;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  font-family: sans-serif;
  color: #fff;
  letter-spacing: 2px;

}

.todoAdd_container{
  display: flex;
  padding: 0px 10px 0px 10px;
}
input[type = text] {
  width: 100%;
  padding: 10px;
  display: flex;
  margin-right: 10px;
  border: none;
  border-radius:5px ;
  border-bottom: 3px solid purple;
  box-shadow: 5px 5px 5px rgba(179, 179, 179,0.5);
  outline: none;
  font-size: 20px;
  font-weight: 600;
  color: black;
  text-align: center;
}

button{
  width: 55px;
  height: 50px;
  padding: 10px;
  border-radius: 50%;
  outline: none;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  border: none;
  background-color: rgb(200, 1, 200);
  box-shadow: 5px 5px 5px rgba(179, 179, 179,0.9);

}

button:hover{
  background-color: rgb(2, 192, 2); 
  transition: all 0.3s;
  cursor: pointer;
}

.listOfItems_container ol{
  list-style-type: none;
  font-size: 20px;
  font-weight: 600;
  color: grey;
  padding: 10px;
  margin-top: 20px;
  position: absolute;
}
.todo_style{
  display: flex;
  flex-direction: row;
  justify-content:left;
  align-items: center;
  padding-bottom: 10px;
}

.todo_style .fa-times{
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  padding: 5px;
  align-items: center;
  background-color: purple;
  margin: 0 15px 0 35px;
  color: #fff;
}

.todo_style .fa-times:hover{
  background-color: red;
  transition: 0.3s ease;
  cursor: pointer;
}

@media screen and (max-width: 490px){
  .center_div{
    top: 15%;
    width: 350px;
    height: 70vh;
  }
  .center_div h1{
    font-size: 30px;
  }
}

